* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 52.5%;
  }
  body{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      padding: 0;
      margin: 0;
      background-color: black;
  }
  .container{
      background: white;
      width:62vw;
      height: 600px;
      overflow: hidden;
  }
  .circle-top{
      position: relative;
  }
  .circle-top:before {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    transform:translate(50%,-50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #FEBB98;
    mix-blend-mode:darken;
  }
  .circle-bottom{
    position: relative;
  }
  .circle-bottom:before {
    content: "";
    position: absolute;
    top: 604px;
    left: -138px;
    transform:translate(50%,-50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #FEBB98;
    mix-blend-mode:darken;
  }
  .cal-body{
        background:black;
        color: white;
        overflow: hidden;
        width:442px;
        height: 526px;
        margin: auto;
        margin-top:20px;
        border-radius: 20px;
  }
  .banner{
      padding: 30px;
      display: grid;
      justify-content: center;
      align-content: center;
      max-width: 100vw;
      grid-template-columns: repeat(4,70px);
      grid-template-rows: minmax(50px,auto) repeat(5,76px);
  }
  .banner > button{
      font-size: 2.5rem;
      cursor: pointer;
      color: white;
      border:none;
      background-color: black;
      border: none;
      outline: none;
  }

  .views,.empty-space {
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 50px;
    word-wrap: break-word;
    word-break: break-all;
    background-color: black;
  }
  .empty-space {
      border-radius:20px 20px 0 0;
  }
  .views > .top {
    color: rgba(255, 255, 255, 0.75);
    font-size: 2.4rem
  }
  
  .views > .bottom {
    color: rgba(255, 255, 255, 1);
    font-size: 4rem;
  }
  .top,.bottom{
      width:280px;
      margin-right: -50px;
      background-color: black;
      border: none;
      height: 60px;
      text-align: right;
      padding-right: 10px;
      font-size: 3rem;
      float: left;
  }
  .bottom{
    line-height: 128px;   
    letter-spacing: 3px;
  }
  .top{
    letter-spacing: 8px;
  }
  
  .zero {
    grid-column: span 2;
    text-align: left;
    padding-left: 40px;
    border-radius:0 0 0 20px;
  }

  .box{
      padding: 25px;
  }

  .bb{
      border-radius: 0 0 20px 0;
  }
  .ybck{
      background-color: #FA583C;
      padding:14px;
      border-radius: 17px;
      font-size: 2rem;
  }
  .yclr{
      color:#FA583C !important;
  }
input{
    outline: none;
    cursor: alias;
}
/* #views {
  height: 100px;
  transition: .3s ease;
}

#views:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 110%;
  height: 110%;
  background: rgba(57, 161, 255, 0.5);
  transition: transform 0.5s ease;
  border-radius: 50%;
}

#views.active:before {
  transform: translate(-50%, -50%) scale(1);
} */

#views {
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-fill-mode: both;
  }
  @keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    left:10;
    visibility: visible;
  }
  to {
    left:100%;
    transform: translateX(0);
  }
  }
 


