*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border:0px;
    vertical-align: baseline;
}
/* body{
    overflow: hidden;
} */
/* body > table{
    width: 100%;
  
} */
.tbl-form{
    grid-area: tbl-form;
    width: 100%;
}

table{
    width:100%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin-top: 40px;
    border:none;
}
table.list{
    width:100%;
}
thead, tbody { 
    width:100%;
}

tbody {
    height: 250px;      
    overflow-y: auto;   
}
tr { width:100%; }
td, th {
    /* border: 1px solid #dddddd; */
    text-align: center;
    padding: 8px;
}

  td{
      text-align: center;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  tr:nth-child(odd) {
    background-color: #fdfdfd;
  }
  .table-scroll{
    display: block;
    empty-cells: show;
    border-spacing: 0;
    border: 1px solid #c49b16;
  }
  
  .table-scroll thead{
    background-color: #f1f1f1;  
    position:relative;
    display: block;
    width:100%;
    overflow-y: scroll;
  }
  
  .table-scroll tbody{
  
    display: block; position:relative;
    width:100%; overflow-y:scroll;
   
    border-top: 1px solid rgba(0,0,0,0.2);
  }
  
  .table-scroll tr{
    width: 100%;
    display:flex;
  }
  
  .table-scroll td,.table-scroll th{
    flex-basis:100%;
    flex-grow:2;
    display: block;
    padding: 1rem;
    text-align:center;
  }

  
  .table-scroll.small-first-col td:first-child,
  .table-scroll.small-first-col th:first-child{
    flex-basis:130%;
    flex-grow:1;
  }
  
  .table-scroll tbody tr:nth-child(2n){
    background-color: rgba(130,130,170,0.1);
  }
  
  .body-half-screen{
    max-height: 250vh;
  }
  
  .small-col{flex-basis:10%;}

input[type=text], input[type=number],input[type=list]{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#pname{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit]{
    width: 30%;
    background-color: #ddd;
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form div.form-action-buttons{
    text-align: right;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}

.container{
    max-width: 1310px;
    width:100%;
    height: 672px;
    background-image: url('img/15.jpeg');
    background-repeat: no-repeat;
    background-size: cover;   
    display: grid;
    grid-template-areas: 'in-form tbl-form'; 

}
.in-form{
    margin-left:50px;
    /* padding-top: 50px; */
    background-color: transparent;
    width:500px;
    height: 500px;
    /* margin-top: 50px; */
    /* border: 1px solid; */
    grid-area: in-form;
}
label{
    /* padding:20px; */
    margin-right: 20px;
}
.bline{
    border-bottom: 1px solid gray;
}

#addstyle{
    background-image: linear-gradient(to right, rgb(185, 28, 88) ,red);
    border: none;
    color: white;
    /* padding: 10px 10px 25px 10px; */
    width:120px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    /* margin: 4px 2px; */
    cursor: pointer;
    font-style: bold;
    border-radius: 4px;
    margin-left: 100px;
    outline: none;
}
  #icon{
    font-size: 18px;
    color: red;
    background-color: transparent;
  }

  .footer{
      margin-top: 30px;
  }


  #tot_amount{
      border: none;
      background-color: transparent;
      color: white;
      padding-left: 20px;
      font-size: 40px;  
  }
  h1{
      text-align: center;
      text-transform: uppercase;
      background: linear-gradient(to right, #ff004c 0%, #00e1ff 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }

  #add_tot{
    padding: 10px;
    background-image: linear-gradient(to right, red , rgb(202, 141, 28));
    color: white;
    cursor: pointer;
    font-style: bold;
    border-radius: 4px;
    font-size: 17px;
    width:100px;
    outline: none;
    border: none;
  }
  #add_tot1{
    padding: 10px;
    background-image: linear-gradient(to right, rgb(62, 3, 156), rgb(0, 217, 255));
    color: white;
    cursor: pointer;
    font-style: bold;
    border-radius: 4px;
    font-size: 17px;
    width:100px;
    outline: none;
    border: none;
    margin-left: 580px;
  }
 .edit_btn{
     /* width:150px; */
     color:blue;
     cursor: pointer;
 }
 .clricn{     
     color:red;
     cursor: pointer;
 }
 /* #pvalid{
    margin-top: 100px;
} */
.fintol{
    /* color: white; */
    margin-left: 150px;
    font-size: 20px;
    /* margin-top: 250px; */
}
/* .amtsty{
   color:white;
} */
.bigfnt{
   font-size: 30px;
}