* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    vertical-align: baseline;
    font-size: 0px;
    font: inherit;
    border:0px;
  }
  input{
      display: none;
  }
/* .labfav1{
display: none;
} */

  #fav:checked ~ .labfav:after{
      display: block;
      color:red;
      content: "favorite";
      font-family: 'Material Icons';
  }
  #fav ~ .labfav:after{
    display: block;
    color:rgb(8, 8, 8);
    content: "favorite_border";
    font-family: 'Material Icons';
}
 /*
  #fav:checked ~ .labfav:after{
      display: block;
      color:red;
      content: "favorite";
      font-family: 'Material Icons';
  } */
  /* #fav:checked ~ .labfav1{    
    display: block;
    color:red;
} */
