*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border:0px;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    background-color: black;
    /* overflow-x: hidden; */
}

.container{
    background-color: black;
	width: 1286px;
	padding: 10px 100px 20px 100px;
    /* width:100%; */
	margin: 0 auto;
  
}

/* ---------------------header------------------------ */
.mypic2{
    display: flex;
    background-image: url('mypic.png');
    width:50px;
    height: 50px;
    background-color: whitesmoke;
    border-radius: 50%;
    border:1px solid #999999;
    background-size: 50px 50px;
    float: left;
}
.pro-name {
	height: auto;
    color:white;
    font-size: 24px;
    font-weight: 900;
    transition: 0.2s;
    cursor:alias;
    float: left;
    margin-left: -45%;
}
.pro-name:hover{
    background: linear-gradient(to right, #be6806 0%, #e7ad0e 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.main-header .header-cls{
	display: flex;
	align-items: center;
	justify-content: space-between;
    flex: 1 0 0;
}

.main-nav ul {
	margin: 1em 0 .5em;
	text-align: center;   
    background: transparent;
}

.main-nav li {
	display: inline;   
}

.main-nav a {
    float: left;
	padding: .5em 1em;
    color: white;
    text-decoration: none;
    letter-spacing: 0.10em;
    display: block;
    position: relative;      
}

 .main-nav a:hover:after{
    width: 100%;
    left: 0;
}
.main-nav a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #FEBC3B;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }


  .main-header{
      margin-bottom:8vh;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      background-color: black;
      z-index: 1;
      overflow:hidden;
      
  }

.active {
    color: #FEBC3B;
  }
/* -----------------------------banner----------------------- */

.banner-content{
    display: grid;
    grid-template-areas:'text1 proimg';
    grid-template-columns: 1fr 1fr;
    color: white;
    margin-bottom: 20vh;
}

.text{
    grid-area: text1;
    margin-top: 20vh;
    width: 100%;
    cursor: alias;
}

.subheading{
   font-size: 1em;
   text-transform: uppercase;
   color: #FEBC3B;
   letter-spacing: 0.1em;
   vertical-align: baseline;
}

.name{
    font-size: 4rem;
    padding: 5px 0 50px 0px;
}
.name span{
    color:#FEBC3B;
    font-weight: 900;
}


.mypic1{
    background-image: url('web.png') !important;
    margin-right: 0 !important;
    background-size:cover !important;
    height: 45vh;
    margin-top: 17vh;
}
/* -------------------- About me page --------------------*/

.about{
    display: grid;
    grid-template-areas:'proimg about-me';
    grid-template-columns: 1fr 2fr;
    color: white;
    margin-bottom: 30vh;
    cursor: alias;
}

.mypic{
    width: 500px;
    height: 60vh;
}

.proimg{
    grid-area: proimg;
}

.about-me{
    grid-area: about-me;
    margin-top: 5%;
    margin-left: 30%;
}
.small{
    font-size:4em;
    font-weight:600;
    margin-top: -26.5%;    
    margin-bottom: 5%;
    margin-left: 3%;
}

.big{
    font-size:5.5em;
    font-weight:900;
    color:#191919; 
    letter-spacing: 12px;
}
.p-cont{
    color: #999999;
    letter-spacing: 1px;
    text-align: center;
    cursor: alias;
}
.about-me ul{
    list-style-type: none;
    line-height: 40px;
    display: inline-block;
    width:100%;
    font-weight: 600;
}
.abt-dlts{
    display: flex;
}
ul.about-info li span:first-child{
    width: 130px;
}
ul.about-info li span {
    width: calc(100% - 130px);
}
span:nth-child(even){
    color: #999999;
}


/* -------------------- Our Project --------------------*/

.pro-big{
    font-size:5.5em;
    font-weight:900;
    color:#191919; 
    letter-spacing: 8px;
    text-align: center;
    cursor: alias;
}
.pro-small{
    font-size:4em;
    font-weight:600;
    color: white;
    text-align: center;
    margin-top: -13.5%;    
    /* margin-bottom: 5%; */
    margin-left: -2%;
    cursor: alias;
}
.our-projects{
    display: grid;  
    grid-template-areas: 'pro1 pro2 pro3 pro4';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    cursor: alias;
}
.pro1{
    grid-area: pro1;
}
.pro2{
    grid-area: pro2;    
}
.pro3{
    grid-area: pro3;    
}
.pro4{
    grid-area: pro4;    
}
.project1{
    width: 100%;
    height: 70vh;    
}
.pro1-child1{
    text-align: center;
    margin-top: 15% ;
}
.pro1-child1 > span{
    font-size: 6rem;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(#f7b500 30%, rgb(187, 255, 0));
    -webkit-text-fill-color: transparent;
}
.pro1-child2 > h2{
    color:#b6b6b6;
    padding: 5%;
    text-align: center;
    font-size: 1.5rem;
}

.pro1-child3 > p{
    color:#999999;   
    text-align:center;
    padding: 5%;
    font-size: 75%;
    line-height: 250%;
}

.pro1-child4 > a{
    color:#f7b500;
    text-decoration: none;
    border-bottom: 1px solid yellowgreen;
    margin-left: 37%; 
    vertical-align: baseline;
}

.pro1-child4{
    margin-top: 19px !important;
}

.hvreft{
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.hvreft:hover{
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/* ............. contact ...................... */

.contact{
    width:100%;
    height:50%;
    display: grid;
    padding:0 60px 60px 60px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'round-div1 round-div2 round-div3';
    align-items: center;
}

.round-div1{
    grid-area: round-div1;
    padding: 0px 50px 50px 150px; 
    margin: 0 auto;
    margin-bottom: 2em;
    cursor: alias;

}
.round-div2{
    grid-area: round-div2;
    padding: 0px 95px 50px 50px; 
    margin: 0 auto;
    margin-bottom: 2em;
    cursor: alias;
}
.round-div3{
    grid-area: round-div3;
    padding: 0px 50px 50px 50px; 
    margin: 0 auto;
    margin-bottom: 2em;
    cursor: alias;
}
.icon{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    background-color: #a81e1e;
}

.home{
    padding: 35px;
    color: #FEBC3B;
    font-size: 30px;
}

.address{
    color:whitesmoke;
    margin-left: 5%;
}

.p1 > p{
    color: #999999;
    margin-left: -11%;
    width:80%;
    font-size: 13.3px;
    line-height: 33px;
    letter-spacing: 1.2px;
    text-align: center;
}
.a1{
    letter-spacing: unset !important;
    width:100% !important;
    margin-left: -5% !important;
}
.a2{
    margin-left: 10% !important;
}
.a3{
    margin-left: -5% !important;
}

/* ––––––––––––––Footer–––––––––––––––– */

footer{
    color: whitesmoke;
    text-align: center;
    /* background-color: #191919; */
    padding: 20px;
    cursor: alias;   
    border-top: 1px solid #191919;
    
}
footer > p{
    font-family:fantasy im !important;
    font-size: 14px;
}
.heart{
    color:#999999;
    font-size: 15px;
}
/* ––––––––––––––ANIMATIONS–––––––––––––––– */

.main-header nav > *,
.banner-content,
.page-footer > * {
  opacity: 0;
}

.main-header,
.page-footer,
.banner-content .text {
  overflow: hidden;
}

.main-header nav > * {
  transform: translateY(-30px);
}

.page-footer > * {
  transform: translateY(30px);
}


.main-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--main-purple-color);
  z-index: 99999;
  transform: scaleX(0);
}

.banner-content .text + .text {
  margin-top: 10px;
}

.banner-content .text * {
  transform: translateY(120%);
}

.banner-content .about * {
  transform: translateY(-120%);
}

.loaded .main-header::after {
  animation: scaleIn 1.3s ease-in 0.2s forwards;
}

.loaded .banner-content {
  animation: fadeIn 1s ease-in 0.7s forwards;
}

.loaded .main-header nav > *{
  animation: fadeIn 1s ease-in 0.7s forwards, slideIn 0.8s ease-in 0.9s forwards;
}

.loaded .banner-content .text * ,
.loaded .main-header *{
  animation: slideIn 0.6s cubic-bezier(0.54, 0.46, 0.54, 0.94) 2s forwards;
}

@keyframes fadeIn {
  60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scaleIn {
  100% {
    transform: scaleX(1);
  }
}

@keyframes slideIn {
  100% {
    transform: translateY(0);
  }
}

/*------------------------ Media Query ------------------------*/

@media only screen and (max-width: 1024px){

   .container{
       width:auto;
    }
    .pro-name{
        margin-left:-180px;
    }
    .mypic1{
        order:1;
    }
    .text{
        order:2;
    }

}

@media only screen and (max-width: 1010px){

    .container{
        width:auto;
     }
     .pro-name{
         margin-left:-180px;
     }
     .mypic1{
         order:1;
         grid-column: auto;
     }
     .text{
         order:2;
     }
     .mypic{
         order: 1;
         width:80%;
         height: 80%;
         margin-top: 30%;
     }
     .about-me{
         order: 2;
     }
     .our-projects{
         grid-auto-flow: row;
     }
     .pro1{
         order: 1;
     }
     .pro2{
        order: 2;
    }
    .pro3{
        order: 3;
    }
    .pro4{
       order: 4;
   }
   .contact{
       padding:0;
       width:100%;
   }
   .round-div1{
       padding-left: 30px;
   }
   .round-div3{
       padding-right: 0px;
   }
   footer{
       text-align: center;
   }
 }
 @media only screen and (max-width: 1024px){

    .container{
        width:auto;
     }
     .pro-name{
         margin-left:-180px;
     }
     .mypic1{
         order:1;
     }
     .text{
         order:2;
     }
 
 }
 
 @media only screen and (max-width: 1010px){
 
     .container{
         width:auto;
      }
      .pro-name{
          margin-left:-180px;
      }
      .mypic1{
          order:1;
          grid-column: auto;
      }
      .text{
          order:2;
      }
      .mypic{
      display: none;
      }
      /* .about-me{
          order: 2;
      } */
      .our-projects{
          grid-auto-flow: row;
          /* margin-bottom: -30%; */
      }
      .pro1{
          order: 1;
      }
      .pro2{
         order: 2;
     }
     .pro3{
         order: 3;
     }
     .pro4{
        order: 4;
    }
    .contact{
        /* margin-top:50%; */
        padding:0;
        width:100%;
    }
    .round-div1{
        padding-left: 30px;
    }
    .round-div3{
        padding-right: 0px;
    }
    footer{
        text-align: center;
    }
  }

  @media only screen and (max-width: 1040px){

    .container{
        width:auto;
     }

  }

@media only screen and (max-width: 1000px){.container{
        width:auto;
     }
    }    
@media only screen and (max-width: 970px){.container{
        width:auto;
     }
    }    
@media only screen and (max-width: 975px){.container{
        width:auto;
     }
    }    
@media only screen and (max-width: 960px){.container{
        width:auto;
     }
    }    
@media only screen and (max-width: 940px){.container{
        width:auto;
     }
    }    
@media only screen and (max-width: 900px){.container{
        width:auto;
     }
    }    
@media only screen and (max-width: 880px){.container{
        width:auto;
	
     }
	.main-nav{
		display:none;
	}
    }    
@media only screen and (max-width: 815px){.container{
        width:auto;
     }
	.main-nav{
		display:none;
	}
    }    
@media only screen and (max-width: 813px){.container{
        width:auto;
     }
    }    
@media only screen and (max-width: 825px){.container{
        width:auto;
     }
	.main-nav{
		display:none;
	}
    }    
@media only screen and (max-width: 800px){.container{
        width:auto;
     }
    }    
@media only screen and (max-width: 697px){.container{
        width:auto;
     }
	.main-nav{
		display:none;
	}
    }    
@media only screen and (max-width: 620px){.container{
        width:auto;
     }
	.main-nav{
		display:none;
	}
    }    
@media only screen and (max-width: 600px){.container{
        width:auto;
     }
	.main-nav{
		display:none;
	}
    }    
  
