*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Hind Madurai', sans-serif;
	vertical-align: baseline;
}
/*----------------- nav bar -----------------*/
.main{
    background-color: black;
}
.container{
    display: grid;
    margin: auto;
    max-width: 1070px;
    min-width: 500px;
    width:1070px;
    height: 672px;
    background-color: white;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "nav-bar contant";

}
.nav-bar{
    grid-area: nav-bar;
    background-image: url("img/nav1.jpg");
}
.newbtn{
    background-color: #5C66D8;
    width:150px;
    margin: 10px;
    color:white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding:15px 5px;
    cursor: pointer;
}
.material-icons-outlined{
    cursor: pointer;
}
.menulist{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "menu submenu";
}
.menu{
    grid-area: menu;
    height: 560px;
    color:white;
    padding: 20px 8px 20px 10px;
}
.menus{
    height: 205px;
}
.mails,.calendar,.chart,.grid{
    height: 40px;
}
.menuicon{
    height: 20px;
    width: 30px;
    font-size: 15px;
    padding-left: 7px;
}
.mailicon{
    height: 20px;
    width: 30px;
    padding-top: 5px;
    border-radius: 2px;
    background-color:#1f3872c5 ;
    text-align: center;
    font-size: 15px;
}
.gridicon{
    height: 20px;
    width: 30px;
    font-size: 15px;
    padding-left: 7px;
    color:#878FA3;
}

.important{
    padding-left: 30px !important;
}
.submenu{
    grid-area: submenu;
    height: 600px;
    border-left: 0.5px solid rgba(131, 131, 131, 0.253);
    border-top: 1px solid rgba(131, 131, 131, 0.253);
    background-image: linear-gradient(to bottom,#0B1D42,#0d224ea2);
    background-color: #0c1b3fb4;
    cursor: pointer;
}
.inboxbox{
    border-left:2px solid blue;
    display: flex;
}
.menucom{
    padding: 15px 8px 3px 18px;
    font-size: 10px;
    height: 25px;
    font-weight: bolder;
}
.clr{
    background-image: linear-gradient(to right,#0B1D42,#0d224ea2);
}
.nn{
    border: none !important;
}
.tt{
    color:#878FA3 !important;
}
.inbox{
    padding-right:40px;  
    color: white;
    font-weight: bold;
}
.number{
    width: 15px;
    height: 15px;
    font-size: 10px;
    background-size: 10px 20px;
    border-radius: 50%;
    background-color: #1A3774;
    text-align: center;
}
.number>span{
    color: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
.smail{
    border-color: #0E1E41;
    color: #7F8CAA;
}
.morebox{
    display: flex;
    color: #7F8CAA;
}
.arrow>span{
    font-size: 10px;
    color: red;
}
.ss{
    font-size: 12px;
}

.circle>span{
    margin: -22px;
    font-size: 8px;
    color: yellow;
}
.cc2>span{
    color:#6A9BED !important;
}
.cc3>span{
    color: #69B997 !important;
}
/*----------------- main content -----------------*/

.contant{
    grid-area: contant;
    /* background-color: darkgray; */
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(131, 131, 131, 0.253);
    height: 67px;
    padding:0 20px 0 20px;
}
.voice{
    flex: 10 0 0;
    color:#4385F5;
    border-right: 1px solid rgba(128, 128, 128, 0.062);
}
.voice>span{
    font-size: bold;
    border-radius: 2px;
    cursor: alias;
}
.notifi,.usercircle,.name,.arrow{
    border-right: 1px solid rgba(128, 128, 128, 0.062);
}
.notifi{
    flex:0.5 0 0;
    color:#C7CBD1;
}
.usercircle{
    border-right: none !important;
    padding-right: 0;
}
.upic{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url("img/user.jpg");
    background-size: 29px 29px;
    cursor: pointer;
}
.name{
    text-align: center;
    font-size: 10px;
    margin-left: 2px;
    cursor: pointer;
}
.name>span{
    color:gray;
}
.ss{
    color: gray;
}

/*------------------- Subheader --------------------------*/
.searchbox{
    display: grid;    
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-areas: "page1 page2 page3";
    height: 604px;
}
.page1{
    grid-area: page1;
    border-right: 1px solid rgba(128, 128, 128, 0.062);
    background-image: linear-gradient(to right,#FAFCFE,#FAFCFE);
   
}
.page2{
    grid-area: page2;
    border-right: 1px solid rgba(128, 128, 128, 0.062);
}

.page3{
    grid-area: page3;
    background-color: #FAFCFE;
}
.shead{
    display: flex;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.062);
    background-image: linear-gradient(#F5F7F9,#FAFCFE);
}
.search{
    flex:2 0 0;
    padding:0 20px;
    border-right: 1px solid rgba(128, 128, 128, 0.062);
}
.search > span{
    font-size: 15px;
    color: gray;
}
.newes{
    flex:1 0 0;
    font-size: 12px;
    color: gray;
    padding-left: 10px;
    padding-right: 10px !important;
    cursor: pointer;
}
.newes>span{
    font-size: 12px;
    color: black;
    font-weight: bold;
}

/*-------------------- left content ------------------------*/

.google{
    display: flex;
    background-color:#FBFDFF;
    padding:20px 0 20px 0;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
    border-bottom: 1px solid rgba(128, 128, 128, 0.062);
    cursor: pointer;
}
/* #go1,#go2,#go3,#go4,#go5{
   

} */
.dot{
    padding: 10px;
}
.dot>span{
    font-size: 14px;
    color: #D0D1D8;
}
.gcircle{
    width:24px;
    height: 36px;
    padding-right: 10px;
    border-radius: 50%;
    background-color: #fff;
}
.gicon{
    background-image: url("img/g7.png");
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    margin:3px;
    border-radius: 50%;
    background-size: 29px 29px;
}
.g1,.g3{
    display: flex;
}
.min{
    flex:2 0 0;
    color:#D0D1D8
}
.lorem,.g4{
    color:#D0D1D8;
}
.lorem>span{
    flex:3 0 0;
    font-size: 10px;
}
.g2{
    color: #D0D1D8;
    font-size: 12px;
    flex:1 0 0;
    margin-left: 20px;
}
.g5{
    color:#505256 !important;
}
.gpara{
    line-height: 18px;
    padding-left: 10px;
}

.rcircle{
    width:24px;
    height: 36px;
    padding-right: 10px;
    border-radius: 50%;
    background-color: #DAE8FE;
}
.ricon{
    padding: 9px 13px;
    font-size: 15px;
    color: #6389fb;
}
.uicon{
    background-image: url("img/w1.jpg");
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    margin:3px;
    border-radius: 50%;
    background-size: 29px 29px;
}
.cicon{
    background-image: url("img/c2.png");
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    margin:3px;
    border-radius: 50%;
    background-size: 29px 29px;
}
.flag{
    width: 28px;
    height: 28px;
    margin:3px;
    color:#02C5FA;
}

.c1{
    padding: 20px 150px;
}
.cplus{
    width:26px;
    height: 32px;
    border-radius: 50%;
    background-color: #507EFB;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
/*---------- searching UI Header--------*/
.b1{
    display: flex;
    height: 44px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.062);
}
.b2,.b6{
    display: flex;
    align-items: center;
   
}
.b2{
 width: 385px;
}
.b3,.b4,.b5{
    padding: 0 20px;    
    font-size: 12px;
}
.b3,.b4,.b7{
    border-right: 1px solid #C7CBD1;
}
.b3>span,.b4>span,.b5>span,.b8>span,.b7>span{
    font-size: 15px;
    color: #C7CBD1;
}
.b7,.b8{
    padding: 0 10px;
}
/*---------- searching UI Image--------*/

.f1{
    display: flex;
}
.f2{
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
    margin:3px;
    border-radius: 50%;
    background-size: 39px 39px;
}
.x1{
    background-image: url("img/w1.jpg");
}
.x2{
    background-image: url("img/google.png");
}
.x3{
    background-image: url("img/r.png");
}
.x4{
    background-image: url("img/circle.png");
}
.x5{
    background-image: url("img/flag.png");
}
.f3{
    padding: 4px;
    font-weight: bold;
}
.p1{
    font-size: 14px;
    color: #505256;
  
}
.p2{
    font-size: 12px;
    color: #C7CBD1;
}
.f4{
    padding:15px 0;
    font-size: 27px;
    color: #505256;
    font-weight: 500;
}
.v1,.v2,.v3,.v4,.v5{
    padding: 40px 40px 0 40px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.062);
    cursor:alias;
}
.v1,.v3,.v4,.v5{
    display: none;
}

.f5{
    color: #747474;
    padding: 15px 0;
    text-align: justify;
    font-size: 12px;
    line-height: 26px;
    font-weight: bold;
}
.f6{
    color: #747474;font-size: 12px;font-weight:bold;
}
.attimg{
    padding: 36px 0;
}
.imgs{
    display: flex;
    padding: 10px 0 0 0;
}
.imgpadding{
    padding: 0 10px;
}
.img{
    width:60px;
    height:60px;
    background-repeat: no-repeat;
    background-size: 80px 80px;
    border-radius: 5px;
    cursor: pointer;
}
.img1{
    background-image: url("img/1.jpg");
}
.img2{
    background-image: url("img/2.jpg");
}
.img3{
    background-image: url("img/3.jpg");
}
.f7{
    display: flex;
    padding: 15px 10px;
    background-image: linear-gradient(#F5F7F9,#FAFCFE);
}
.f9{width: 380px;  cursor: text;}

.f8{
    display: flex;
}

.f6>span{
    font-size: 15px;
    padding: 0px 15px;
  
}

/*------------------- usernav icons -----------------------*/
.chatsicon{
    height: 44px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.062);
    background-color: #FAFCFE;
}
.chatsicon>span{
    color:#477DF1;
    font-size: 15px;
    padding: 20px;
}
.image{
    width:30px;
    height:30px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    border-radius: 50%;
}
.imagepad{
    background-color: #FAFCFE;
}
.userimg1{
    background-image: url("img/m1.jpg");
}
.userimg2{
    background-image: url("img/m2.jpg");
}
.userimg3{
    background-image: url("img/m3.jpg");
}
.userimg4{
    background-image: url("img/w2.jpeg");
}
.userimg5{
    background-image: url("img/w3.jpg");
}
.userimg6{
    background-image: url("img/w4.jpg");
}
.userimg7{
    background-image: url("img/w5.jpg");
}
.pad{
    padding: 15px 17px;
    cursor: pointer;
}
.pad1{
    width:30px;
    height:30px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    border-radius: 50%;
    background-color: #637DFB;
    margin: 18px;
    cursor: pointer;
}
.c2{
    color: #fff;
    padding:4px 10px;
}

/*--------------- chat ------------*/

#chat{
    
    padding: 12px 23px;
    color: #4f7dfb;
    border-bottom: 1px solid #efefef;

}
img:hover{

    opacity: 1;
    transition:200ms;
    transform: scale(1.1);
}
#slide-images img:nth-child(4){

    opacity: 1;
}
.card-aside{
    display: none;
    width: 230px;
    height: auto;
    position: absolute;
    margin-top: 3.5%;
    margin-left: -17.9%;
    background-color:#fafcfe;
    box-shadow: -1px 4px 7px 0px lightgrey;
}
.card-aside-header{

        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #efefef;
        color: lightgrey;
}
.chat-1,.chat-2{
    
    justify-content: flex-end;
    padding:0px 10px 6px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.chat-2{
    padding-top: 0px ;
    flex-direction: row-reverse

}
.chat-details-2{

    margin-left: 13px;
}
.chat-1 p,.chat-2 p{
    padding: 8px 16px;
    color: black;
    background: #F0F0F0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 100% 75%, 100% 99%, 94% 90%, 0 90%);
    font-size: 0.6rem;
    border-radius: 5px;
    max-width: 120px;
}
.chat-1 span,.chat-2 span{

    font-size: 0.6rem;
    float: right;
    margin-top: 5px;
    color: grey;
}
.chat-2 p{

    background-color: #4F7BFB;
    /* clip-path: polygon(28% 0, 100% 0%, 100% 18%, 23% 19%, 28% 15%); */
    clip-path: polygon(0% 0%, 100% 0%, 100% 88%, 11% 88%, 0 100%, 0 74%, 0% 75%);
    color: white;
}
.chat-2 span{
    
    float: left;

}
.chat-icon{
    
    margin:-10px 0px 0px 10px;
    
}
#day{

    position: relative;
    border-top: 1px solid #efefef;
    text-align: center;
    margin: 0px 10px

}

.pp1{
    text-align: center;
    font-size: 11px;
    color: #505256;
}

#day p{

    position: absolute;
    z-index: 3;
    left: 50%;
    transform: translate(-50%, 0px);
    padding: 5px 15px;
    top: -11px;
    background-color: rgb(250, 252, 254);
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bolder;
    color: #D0D1D8;
        
}
#chat-footer{

    display: flex;
    padding: 15px;
    justify-content: space-between;
    color: grey;

}
#chat-footer>span{

    font-size: 14px;
    padding: 5px 0;
}
input{
    font-size: 14px;
    margin-left: 3%;
    outline: none;
    color: grey;
    background-color: transparent;
}
.mood{
    margin-left: -17%;
}
.navmenu{
    padding: 5px;
    color: blue;
    background-color: #dfdfdf;
    border-radius: 2px;
    display: none;
}

/*---------------- media query-------------------------- */
/* @media only screen and (max-width: 1085px){
    .container{
        grid-template-areas: "nav-bar contant";
        grid-template-columns: 1fr 4fr;
    }
    .searchbox{
        grid-template-columns: 1fr 2fr 1fr;
    }
    .v1, .v2, .v3, .v4, .v5{
        padding: 20px 20px 0 20px;
    }
}
@media only screen and (max-width: 800px){
    .container{
        grid-template-areas: "nav-bar contant";
        grid-template-columns:4fr;
    }
    .searchbox{
        grid-template-areas: "page1 page2 page3";
        grid-template-columns: 1fr 1fr 0.2fr;
    }
    .header{
        height: 50px;
        padding-left: 0;
    }
    .nav-bar{
        display: none;
    }
    .navmenu{
        display: block;
    }
    .voice{
        flex:1 0 0;
    }
    .notifi {
        flex: 0.5 0 0;
    }
    .search{
        flex:2 0 0;
    }
} */