*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border:0px;
    font: inherit;
    font-family: 'Poppins', sans-serif;
    vertical-align: baseline;
}
.container{
    background: url("img/mt15.jpg")no-repeat center/cover;
    height: 560px;
    width:440px;
    margin: auto;
    position: relative;
    margin-top:30px;
    padding: 20px;
}
.container::before{
    content: "";
    position:absolute;
    top:0;
    padding: 20px;
    margin: auto;
    height: 600px;
    width:400px;
    bottom: 0;
    right: 0;
    left: 0;
    -webkit-filter: blur(8px);
    background: inherit;
    filter: blur(10px);
    backdrop-filter: blur(4px);
}
.months{
    position: relative;
    box-sizing: border-box;
}
#month{
    height: 35px;
    width:200px;
    text-align: center;
    border-radius: 8px;
    cursor: text;
    border: none;
    outline:none;
}


#calendar{
    display: none;
}

.btncls{
    position: relative;
    left: 30px;
    width: 150px;
    padding: 10px;
    border-radius: 8px;
    background-color: #346e53;
    color: #fff;
    cursor: pointer;
    border: none;
    outline:none;
}

.calendar{
    position: relative;
    width:400px;
    background-color: white;
    box-sizing: border-box;
    box-shadow:5px 10px 8px 10px #888888;
    border-radius: 8px;
    overflow: hidden;
    height: 450px;
}
.pic{
    position:relative;
    height: 200px;
    padding: 20px;
    color: #fff;
    background: url("img/mt15.jpg")no-repeat center/cover;
    text-shadow: 0 2px 2px rgba(#000 0.2);
    box-sizing: border-box;
}
.pic::before{
    content: "";
    left:0;
    right: 0;
    top:0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to top,rgba(#000,0.25),rgba(#000,0.1));
}
h2{
    margin: 0;
    padding: 5px;
    font-size: 25px;
}
h3{
    margin: 0;
    font-size: 20px;
    padding: 5px;
    font-weight: 500;
}
.date{
    padding: 20px;
    height: 40px;
    grid-template-columns: repeat(7,1fr);
    grid-gap: 10px;
    box-sizing: border-box;
}
.day{
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: 600;
    color: #262626;
    cursor: alias;
}
.day:nth-child(7){
    color: #ff685d;
}
.day:nth-child(1){
    color: #ff685d;
}
.calc_grid{
    height: 40px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    box-sizing: border-box;
    align-items: center;
    justify-items: center;
    grid-gap: 10px;
}
.number{
    color:#262626;
    grid-template-rows: auto;
    display: grid;
    cursor:alias;

}
/* .ss:nth-child(1){
    color:#ff685d;
    font-weight: 700;
}
.ss:nth-child(7){
    color:#ff685d;
    font-weight: 700;
} */
